*{
	box-sizing: border-box;
	margin: 0;
}

body{
	background-color: #f1f1f1;
	font-family: "Segoe UI";
	font-size: 13px;
	margin:0;
}

hr{
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: none;
	border-top: 1px solid rgb(226,226,226);
}

.container{
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

.row{
	margin-left: -15px;
	margin-right: -15px;
	overflow-x: hidden;
}

input, select, textarea{
	width: 100%;
	font-family: inherit;
	border-radius: 4px;
	padding: 10px;
	border: 1px solid #ddd;
	outline: none;
}

button{
	border: none;
	cursor: pointer;
}

input:focus, textarea:focus{
	border-color: #18a085;
	transition: 300ms;
}

[class*='span-']{
	float: left;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

[class*='btn-']{
	padding: 10px 12px;
	border-radius: 4px;
	font-weight: 700;
	font-size: 12px;
}

a, a:hover{
	text-decoration: none;
}

.span-12{ width: 100%; }
.span-8{ width: 66.666%; }
.span-6{ width: 50%; }
.span-4{ width: 33.333%; }
.span-3{ width: 25%; }

@media screen and (max-width: 720px){
	.span-3{ width: 50%; }
	.span-4{ width: 100%; }
	.span-6{ width: 100%; }
	.span-8{ width: 100%; }

	#hbg{
		display: block;
	}

	nav img{
		text-align: center;
	}

	.nav{
		padding: 0;
	}

	.nav:not(#hbg){
		display: block;
		text-align: center;
		width: 100%;
		clear: both;

	}

	.nav:not(#hbg) li {
		width: 100%;
	}


	.nav:not(#hbg) li a:hover{
		width: 100%;
		background: #333;
	}
}

@media screen and (max-width: 480px){
	.span-3{width: 100% !important;}
}